@font-face {
    font-family: 'Handjet';
    src: url('../fonts/Handjet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eboy EXTAlpha';
    src: url('../fonts/Eboy-EXTAlpha.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}